<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Pipeline</title>
  <%= stylesheet_link_tag "pipeline" %>
  <%= javascript_include_tag :defaults %>
  <%= calendar_date_select_includes nil %>
</head>

<body>
  <div id="popup_wrapper">
	<div id="popup_header"></div>
	<div id="popup_contentarea">
    	<%= yield -%>
	</div>
	<div id="popup_footer"></div>
  </div>
</body>
</html>
